* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #404040;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#toolbox {
  width: 125px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #262626;
  padding: 10px 0;
}

#toolbox .container {
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#toolbox .container:last-child {
  border: none;
}

#toolbox #preview #brush-preview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.2s;
}

#toolbox #colors,
#toolbox #shapes,
#toolbox #actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: space-between;
}

#toolbox .name {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

#toolbox #colors .color,
#toolbox #shapes .shape {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  margin: 0 8px 6px 8px;
  cursor: pointer;
}

#toolbox #colors .color:nth-last-child(-n + 2),
#toolbox #shapes .shape:nth-last-child(-n + 2) {
  margin: 0 8px 0px 8px;
}

#toolbox #shapes .square {
  border-radius: 0;
}

#toolbox #colors .color:active,
#toolbox #shapes .shape:active,
#toolbox #actions #delete:active,
#toolbox #actions #download:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#toolbox #custom-color #color-picker {
  width: 80%;
  height: 24px;
}

#toolbox #brush #brush-size {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 4px;
}

#toolbox #brush #brush-size-value {
  font-size: 10px;
}

#toolbox #actions .material-icons {
  font-size: 28px;
  cursor: pointer;
}

#artboard {
  width: calc(100% - 135px);
  height: 100%;
}

#artboard #paper {
  cursor: crosshair;
}

dialog {
  width: 300px;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 150px);
  border: none;
  text-align: center;
  padding: 30px;
  background-color: #404040;
  color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

dialog #cancel,
dialog #confirm {
  border: none;
  padding: 8px 0;
  margin-top: 20px;
  width: 80px;
  cursor: pointer;
}

input,
button {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #fbf5e5;
  border: none;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #262626;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #fbf5e5;
  margin-top: -5px;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #fbf5e5;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  cursor: pointer;
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
}
